:export {
    breakpointMobile: strip-unit($mobile);
    breakpointTablet: strip-unit($tablet);
    breakpointDesktop: strip-unit($desktop);
    breakpointDesktopXl: strip-unit($desktopXl);

    colorDark: $color__dark;
    colorWhite: $color__white;
    colorAccent: $color__accent;
}
