$header__height_sm: 50px;
$header__height_md: 80px;
$header__height_lg: 120px;

$content__indent-x_sm: 15px;
$content__indent-x_md: 30px;
$content__indent-x_lg: 60px;

$body__bg: $color__dark;
$body__color: $color__white;
